body {
    background-color: rgba(0,0,0,0.0);
    font-family: "TT Norms", sans-serif;
    color: #10032d;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 640px) {
    .mobile-nav {
        display: block;
        height: 56px;
        width: 100%;
        box-shadow: 0 2px 4px 0 rgba(89, 16, 168, 0.05);
        background-color: #ffffff;
        position: fixed;
        transition: 0.2s;
        z-index: 999;
    }
    .mobile-nav.transparent {
        background-color: transparent;
        box-shadow: none;
    }
    .brand {
        position: relative;
        float: left;
        /*height: 56px;*/
        padding: 5px 16px;
    }
    .logo {
        width: 51px;
        height: 46px;
        transition: 0.1s;
    }
    .transparent .brand {
        padding: 16px;
    }
    .transparent .logo {
        width: 94px;
        height: 84px;
        filter: brightness(0) grayscale(100%) invert(100%);
    }
    .page footer {
        bottom: 0;
        position: fixed;
        padding: 16px;
        width: 100%;
    }
}

@media screen and (min-width: 641px) {
    .mobile-nav {
        display: none;
    }
}
.show-reel {
    width: 140px;
    height: 40px;
    border-radius: 27px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}
.show-reel .play-outer {
    display: block;
    /*width: 40px;*/
    height: 40px;
    float: left;
    padding: 10px;
    margin-left: 10px;
}
.show-reel .play-inner {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 14px;
    border-color: transparent transparent transparent #210659;
}
.show-reel .title {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
    color: #210659;
    text-transform: uppercase;
}
.actions {
    position: absolute;
    bottom: 75px;
    padding: 0 16px;
}
.actions h3 {
    width: 300px;
    margin-top: 20px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #ffffff;
}
.scroll-down {
    width: 46px;
    height: 46px;
}
.chevron::before {
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #ffffff;
    content: '';
    display: inline-block;
    height: 10px;
    left: 20px;
    position: relative;
    top: 20px;
    transform: rotate(135deg);
    vertical-align: top;
    width: 10px;
}
.chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
}
#main-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /*background-color: rgba(9, 100, 58, 0.5);*/
}
#main-slider .item {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 1s;
}
#main-slider .item.on-top {
    opacity: 1;
    transition: 1s;
}
#main-slider .item img {
    height: 100%;
    float: right;
}
.violet {
    background-image: radial-gradient(circle at 103% 85%,
    #2d0652 0%, #2d0652 65%,
    #1e0538 65%, #1e0538 75%,
    #0b021d 75%, #0b021d 100%);
}
.red {
    background-image: radial-gradient(circle at 103% 85%,
    #d0021b 0%, #d0021b 65%,
    #4b0320 65%, #4b0320 75%,
    #0b021d 75%, #0b021d 100%);
}
/* pages */
section.page {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    /*border-bottom: 1px solid rgba(0,0,0,0.5);*/
}
section.page.m-height {
    min-height: auto;
}
/* svg */
img.svg {
    display: block;
    overflow: hidden;
}
/* icons */
.menu-icon {
    width: 56px;
    height: 56px;
    padding: 16px;
    position: relative;
    float: right;
    box-sizing: border-box;
}

.main-screen .menu-bar,
.main-screen .menu-bar::before,
.main-screen .menu-bar::after {
    background-color: #fff;
}
.menu-open .menu-bar,
.menu-open .menu-bar::before,
.menu-open .menu-bar::after {
    transform: translateY(0px);
}
.menu-open .menu-bar {
    transform: rotate(135deg);
}
.menu-open .menu-bar::before,
.menu-open .menu-bar::after {
    transform: rotate(90deg);
}
.menu-bar,
.menu-bar::before,
.menu-bar::after {
    background-color: #5910a8;
    width: 24px;
    height: 3px;
    position: absolute;
    top: 50%; margin-top: -1.5px;
    left: 50%; margin-left: -12px;
    transition: 0.2s;
}

.transparent .menu-bar,
.transparent .menu-bar::before,
.transparent .menu-bar::after {
    background-color: #ffffff;
}

.menu-bar::before,
.menu-bar::after {
    content: '';
    display: block;
}
.menu-bar::before {
    transform: translateY(-7px);
}
.menu-bar::after {
    transform: translateY(7px);
}
.page-heading {
    text-transform: uppercase;
    padding: 40px 9px 9px;
    color: #10032d;
}
.page-heading.dark {
    color: #ffffff;
}
.page-heading h2 {
    font-size: 26px;
}
.page-heading h2 span{
    font-weight: 800;
    font-size: inherit;
    padding: 0 7px;
    display: inline-block;
}
.page-heading h2 strong {
    font-weight: 800;
    font-size: inherit;
    color: #ffffff;
    background-color: #5910a8;
    padding: 7px;
    display: inline-block;
}
.page-heading small {
    display: block;
    padding: 0 7px;
    font-size: 10px;
}
.page-heading h2>small {
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    line-height: 12px;
    margin-left: 4px;
}
.page article {
    margin: 16px 16px 32px;
}
.page article p {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5;
    opacity: 0.8;
}
.page .addition {
    margin: 48px 16px 80px;
}
.page .addition::after {
    content: '';
    display: block;
    float: none;
    clear: both;
}
.page .addition div,
.page .addition button {
    display: block;
    float: left;
}
.page .addition .text {
    border: 2px solid transparent;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    box-sizing: border-box;
    text-transform: uppercase;
    margin-left: 16px;
}
.page .addition .text.small {
    font-size: 11px;
    font-weight: 400;
    line-height: 40px;
    text-transform: none;
}
.action-btn {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16px;
    padding: 12px 20px;
    border: 2px solid #5910a8;
    border-radius: 22px;
}
.action-btn.light {
    background-color: #ffffff;
    color: #5910a8;
    font-weight: 800;
}
.action-btn.dark {
    background-color: #5910a8;
    color: #ffffff;
    font-weight: 700;
}
.facts {
    text-transform: uppercase;
    width: 100%;
    border: 16px solid transparent;
}
.facts tr td:first-child {
    font-size: 11px;
    font-weight: normal;
    line-height: 3.64;
}
.facts tr td:last-child {
    font-size: 18px;
    font-weight: 800;
    line-height: 2.22;
    text-align: right;
}
.facts:after {
    display: block;
    content: '';
    float: none;
    clear: both;
    height: 40px;
    width: 100%;
}
#facts {
    /*background: #2d0652;*/
    color: #ffffff;
    background: #2d0652 url("../img/facts-bg.jpg") no-repeat center center;
    background-size: cover;
}
#achievements {

}
.achievement {
    padding: 0 16px;
    margin: 16px 0;
    text-transform: uppercase;
}
.achievement:first-of-type {
    margin-top: 32px;
}
.achievement small,
.achievement span {
    display: block;
}
.achievement small {
    font-size: 11px;
}
.achievement span {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
}
.show-cards {
    width: 100%;
    padding: 5px;
    margin-top: 16px;
    box-sizing: border-box;
}
.show-cards::after {
    content: '';
    display: block;
    float: none;
    clear: both;
    height: 40px;
}
.show-card {
    position: relative;
    color: #ffffff;
    margin: 5px;
    height: calc((50vw - 15px) / 145 * 170);
    width: calc(50% - 10px);
    background-color: #2d0652;
    float: left;
}
.show-card.wide {
    background-color: #4b0320;
    width: calc(100% - 10px);
}
.show-card h5 {
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 11px 8px;
    margin: 0;
    bottom: 0;
    right: 0;
}